# Firebase Client Configuration for GlobeTrotter
VITE_FIREBASE_API_KEY="AIzaSyBsUipBkKSw3TZTvIUiz4v714z-yZiL-X4"
VITE_FIREBASE_AUTH_DOMAIN="globetrotter-auth.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="globetrotter-auth"
VITE_FIREBASE_STORAGE_BUCKET="globetrotter-auth.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="641276435438"
VITE_FIREBASE_APP_ID="1:641276435438:web:0642553756f7b4cf19ccff"
