# Local PostgreSQL Database URL
# Default local PostgreSQL credentials on standard port 5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/globetrotter?schema=public"

# Server Port
PORT=3001

# JWT Secret
JWT_SECRET="globetrotter_odoo_hackathon_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"

# Firebase Config
FIREBASE_PROJECT_ID="globetrotter-auth"
